<% links.each_slice(3) do |link_triple| %>
<div class="row">
  <% link_triple.each do |link| %>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link[:title] %>
      </div>
      <div class="panel-body">
        <a href="<%= link[:href] %>" onclick="mixpanel.track('<%= link[:mixpanel] %>-clicked')" target="_blank">
          <center>
            <img width="230px" height="230px" src="<%=link[:thumb] %>" style="border: 3px solid #555">
          </center>
        </a>
      </div>
      <div class="panel-footer" style="line-height: 1.5em; min-height: 4.5em">
        <%= link[:text] %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
