<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Sagar Pandya</title>
    <meta name="description" content="Sagar's personal site">
    <meta name="author" content="Sagar Pandya">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/custom.css">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- start Mixpanel -->
    <script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_links track_forms register register_once unregister identify name_tag set_config".split(" ");for(e=0;e< g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]); mixpanel.init("a55c2a6c80efc5286ad2e1de9eb89f64");</script>
    <!-- end Mixpanel -->

    <!-- google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31137414-1']);
      _gaq.push(['_setDomainName', 'sagarpandya.com']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
   </head>
  <body onload="mixpanel.track('<%= yield_content :page_id %>')">
    <!-- Primary Page Layout
    ================================================== -->
    <div class="container">
      <div class="three columns sidebar">
        <nav>
        <h3 id="logo">
          <a href="index.html"><img src="images/me.png" class="scale-with-grid"/></a>
        </h3>
        <%= yield_content :sidebar %>
        </nav>
        &nbsp;
      </div>

      <div class="twelve columns content offset-by-one <%= yield_content :page_id %>">
        <header>
          <%= yield_content :header %>
        </header>
        <hr class="large"/>
        <%= yield %>
        <hr> 
        <div class="doc-section" id="attribution">
          <p class="remove-bottom">
            <small>
              Created by Sagar Pandya &copy; 2012. Site designed using <a href="http://www.getskeleton.com">Skeleton</a>.
            </small>
          </p>
        </div>
      </div>
    </div><!-- container -->
    <!-- JS
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="javascripts/tabs.js"></script>
    <!-- End Document
    ================================================== -->
  </body>
</html>
