<div class="row">
  <% links.each do |link| %>
  <div class="col-xs-6 col-md-4">
    <div class="thumbnail">
      <a href="<%= link[:href] %>" onclick="mixpanel.track('<%= link[:mixpanel] %>-clicked')" target="_blank">
        <img src="<%=link[:thumb] %>">
      </a>
      <small>
        <b><%= link[:title] %></b>
        <%= link[:text] %>
      </small>
    </div>
  </div>
  <% end %>
</div>
